@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
    --primary-color: #5500FF;
    --purple: #4100CF;
    --white: #FFFFFF;
    --grey: #595959;
    --red: #CF1322;
}

* {
    font-family: 'Inter', sans-serif;
}

.btn {
    border-radius: 10px;
}

.btn:hover {
    color: var(--white);
    background-color: var(--purple);
}

.btn img {
    width: 30px;
    height: 30px;
}

.new-report-btn {
    background-color: var(--primary-color);
    color: var(--white);
    width: 270px;
    height: 48px;
}

/* NAV */

.navbar {
    box-shadow: 0 1.2px rgba(0, 0, 0, 0.2);
    padding-bottom: 0;
}

.navbar-brand img {
    width: 100px;
}

.nav-item:hover {
    box-shadow: 0 1.2px var(--purple);
}

.nav-item a {
    color: var(--grey);
}

.nav-item a:hover {
    color: var(--primary-color);
    transition: 0.5s;
}