@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
    --primary-color: #5500FF;
    --purple: #4100CF;
    --grey: #595959;
    --light-grey: #bfbfbf;
    --lighter-grey: #e8e8e8;
    --red: #CF1322;
    --main-background: #fafafa;
}

* {
    font-family: 'Inter', sans-serif;
}

body {
    background-color: var(--main-background);
}

h1, h2, h3 {
    margin: 0;
}

/* BUTTONS */

.btn {
    background-color: var(--primary-color);
    color: white;
    border-radius: 10px;
    width: 270px;
    height: 48px;
}

.btn:hover {
    color: white;
    background-color: var(--purple);
}

.btn img {
    width: 30px;
    height: 30px;
}

/* NAV */

.navbar {
    box-shadow: 0 1.2px rgba(0, 0, 0, 0.2);
    padding-bottom: 0;
}

.navbar-brand img {
    width: 100px;
}

.nav-item a {
    color: var(--grey);
}

.nav-item a:hover {
    color: var(--primary-color);
}

.nav-selected {
    font-weight: 700;
    box-shadow: 0 1.2px var(--purple);
}