.main {
    padding-top: 8rem;
}

/* Search */

.search-filter {
    width: 225px;
    background-color: var(--primary-color);
    border-radius: 10px 0 0 10px;
}

.search-options {
    border: none!important;
    background-color: transparent!important;
    font-size: 16px;
    color: white;
    width: 200px;
    padding: 0;
}

.search-options .option {
    color: black!important;
}

.search-options::after {
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    right: 20px;
}

input[type="text"] {
    border-radius: 0px 10px 10px 0px;
    border: solid 1px var(--light-grey);
}

/* Table Header */

.table-header {
    justify-content: space-between;
}

.table-header h3{
    display: none;
}

.table-option {
    border: none!important;
    background-image: none!important;
    width: 80px;
    padding: 0;
}

.table-option::after {
    border: none;
}

/* Table */

.users-table {
    overflow-y: scroll;
    height: 400px;
}

th {
    position: sticky;
    top: 0;
    background-color: var(--main-background)!important;
}

.table-col {
    background-color: var(--lighter-grey);
}

.table-col:hover {
    background-color: var(--lighter-purple);
}

@media screen and (min-width: 960px) {
    .search-options::after {
        right: 0;
    }

    .table-header h3 {
        color: var(--grey);
        font-weight: 600;
        display: block;
    }
}